.title{
color: antiquewhite;
background-color: aquamarine;
font-size: 100px    ;
text-align: center;
font-weight: 100;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: 2px solid rgb(184, 221, 160);
border-radius: 6px;
/* padding: 60px; */
margin-left: 60px;
width:400px ;
height:200px ;
}